In [27]:
#import dependencies
import pandas as pd

In [28]:
#  load the dataset
file_to_load = "../Resources/iris.csv"

In [29]:
# read the dataset
df = pd.read_csv(file_to_load)
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [30]:
data = df["petal_length"]
df = df.drop(columns=["petal_length"])
df.head()

   sepal_length  sepal_width  petal_width        class
0           5.1          3.5          0.2  Iris-setosa
1           4.9          3.0          0.2  Iris-setosa
2           4.7          3.2          0.2  Iris-setosa
3           4.6          3.1          0.2  Iris-setosa
4           5.0          3.6          0.2  Iris-setosa

In [35]:
 #If youâ€™re working with a larger dataframe, use Reorder Pandas Columns using Pandas .insert()

df.insert(loc=0, column="petal_length", value=data)
df.head()

   petal_length  sepal_length  sepal_width  petal_width        class
0           1.4           5.1          3.5          0.2  Iris-setosa
1           1.4           4.9          3.0          0.2  Iris-setosa
2           1.3           4.7          3.2          0.2  Iris-setosa
3           1.5           4.6          3.1          0.2  Iris-setosa
4           1.4           5.0          3.6          0.2  Iris-setosa